 <div class="card pos-rel">
    <img class="card-img-top img-fluid" src={{pinItem.imageUrl}} alt="Card image cap" >
    <div class="card-block ">
         <h4 class="card-title">{{pinItem.name}}</h4>
        <p class="card-text">{{pinItem.text}}</p>
         <p class="card-text"><small class="text-muted">Last updated {{pinItem.min}} mins ago</small></p>
         <button class="btn btn-danger delete-pin-button">Delete pin</button>
         
         <div class="media">
                <div class="media-left">
                   <a href="#">
                        <img class="media-object" src="./assets/profile_icon.png" width="30px" height="30px">
                   </a>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><strong>{{pinItem.user}} </strong></h6>
                    <p>{{pinItem.userInfo}}</p>
                </div>
         </div>
    </div>           
</div>